<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlightTrack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>322E7C5E1BCD5C070065C574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322E7C721BCD5C070065C574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322E7C7D1BCD5C070065C574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
